<div	class="card-content">
    <div	class="card-img">
        <img	src="https://placeimg.com/380/230/nature" alt="">
        <span><h4>{{ posicion }}</h4></span>
    </div>
    <div	class="card-desc">
        <h3>{{ destinos.nombre }}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of destinos.detalle">
                <span [ngSwitch]="s">
                    <p *ngSwitchCase="'Desayuno'">{{s}}</p>
                    <p *ngSwitchDefault>{{s}}</p>
                </span>
            </li>
        </ul>
        <a	href="#" class="btn-card" (click)="ir()">Marcar</a>
        <span *ngIf="destinos.isSelected()">
            <span *ngNonBindable>Favorito</span>
        </span>		
    </div>
</div>
